<main class="py-5">
    <section class="mb-5">
        <form>
            <div class="container">
                <h3 class="mb-3">Modify Student</h3>
                <div class="bg-light p-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="">Last Name</label>
                            <input type="text" name="firstname" [(ngModel)]="student.firstName"
                                class="form-control form-control-ml" required>
                        </div>

                        <div class="col-lg-4">
                            <label for="">First Name</label>
                            <input type="text" name="lastName" [(ngModel)]="student.lastName"
                                class="form-control form-control-ml" required>
                        </div>

                        <div class="col-lg-4">
                            <label for="">DNI</label>
                            <input type="text" name="dni" [(ngModel)]="student.dni" class="form-control form-control-ml"
                                required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label for="">Email</label>
                            <input type="email" name="email" [(ngModel)]="student.email" class="form-control form-control-ml"
                                required>
                        </div>

                        <div class="col-lg-8">
                            <label for="">Address</label>
                            <input type="text" name="address" [(ngModel)]="student.address" class="form-control form-control-ml"
                                required>
                        </div>

                        <div class="col-lg-4">
                            <label for="">Career</label>
                            <select name="career" [(ngModel)]="student.careerId" class="form-control form-control-ml">
                                <option *ngFor="let career of careerList" [(ngValue)]="career.careerId">{{career.name}}</option>
                            </select>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button type="button" class="btn btn-primary" (click)="editStudent()">Modify</button>
                </div>
            </div>
        </form>
    </section>
</main>