<main class="py-5">
    <section id="listado" class="mb-5">
         <div class="container">
              <h2 class="mb-4">Career List</h2>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let career of careerList">
                    <th scope="row">{{ career.careerId  }}</th>
                    <td>{{ career.name }}</td>
                    <td>{{ career.description }}</td>
                  </tr>                  
                </tbody>
              </table>
         </div>
    </section>
</main>