<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            <span class="text-danger danger-message">Must have an email.</span>
                        </div>
                        <div *ngIf="email.errors.notEmail">
                            <span class="text-danger danger-message">Must be an email.</span>
                        </div>
                        <div *ngIf="email.errors.emailTaken">
                            <span class="text-danger danger-message">Email already taken<fa-icon [icon]="faTimes"></fa-icon></span>
                        </div>
                    </div>
                    <div *ngIf="email.errors == null">
                        <span class="text-success success-message">Email not used<fa-icon [icon]="faCheckCircle"></fa-icon></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            <span class="text-danger danger-message">Must have a password.</span>
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="signUpForm.invalid"> Create
                        Account</button>
                </div>
            </form>
            <p class="text-center">Do you have an account? <button class="btn btn-secondary" (click) ="goToLogIn()">Log
                In</button> </p>
        </article>
    </div>

</div>
