body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

#main-header a {
	color: white;
	padding-bottom: 10px;
}
 
/*
 * Logo
 */
#logo-header {
    text-align: center;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
	color: #0b76a6;
}

#logo-header .site-name {
	display: block;
	font-weight: 300;
	font-size: 40px;
    color: #f2f2f2;
}
				
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
#main-content header,
#main-content .content {
	padding: 40px;
}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

#main-footer p {
	margin: 0;
}

#main-footer a {
	color: white;
}	

.container {
	padding: 20px;
	margin: 20px;
}

#lista
{
	color: #0b76a6;
}

#seleccionados
{
	color: chartreuse;
}

#productos
{
	margin-bottom: 5px;	
	margin-top: 10px;
}

