<label>
    ID:
    <input type="text" formControlName="id" required>
</label>

<label>
    Nombre:
    <input type="text" formControlName="name">
</label>

<label>
    Descripción:
    <input type="text" formControlName="description">
</label>

<label>
    Precio:
    <input type="number" formControlName="price">
</label>

<label>
    Stock:
    <input type="number" formControlName="stock">
</label>
<button (click)="this.Guardar(id.text,name,description,price,stock)">Agregar</button>
<button (click)="this.Hola(holaaaaaaa)">Agregar</button>